@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-image: url('images/privcybk.png');
        background-repeat: no-repeat;
        background-position:center;
    }
</style>
<p>
    Welcome to the Privacy Notice of our Car Rentals New zealand and Car Rentals New Zealand, organizations inside the XOX Group, Inc. (we allude to these organizations as "vehicles", "we," "us," or "our" in this Privacy Notice). A full rundown of these organizations and contact subtleties is incorporated beneath: see Data Controllers and Contact Details by Country.

    If you don't mind set aside the effort to peruse this Privacy Notice as it is significant for you to know how we gather and utilize your own data. By "individual data" we mean all data that identifies with a living individual and either recognizes, or might be utilized to distinguish, that person.

    The idea of our business and our administrations to you may expect us to impart data to our free licensees. This Privacy Notice applies to those Apex areas that are possessed and worked by an autonomous licensee not claimed nor constrained by Apex or any Apex offshoot or auxiliary with the exception of where free licensees utilize separate outsiders occasionally. In the event that you have any inquiries or concerns with respect to the utilization of your own data by any free area, if it's not too much trouble reach us at Cars@newzealand.co.nz.

    We may change bits of this Privacy Notice occasionally, so make certain to return. In the event that we roll out an improvement that essentially influences your privileges or, to the degree we are allowed to do as such, fundamentally changes how we utilize your own data, we will tell you by method of a noticeable posting on our sites, email and additionally postal mail before the change getting viable.
</p>

